POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=pongdang
POSTGRES_USER=pongdang
POSTGRES_PASSWORD=replace-with-a-random-password
API_ROOT_PATH=
DATA_GO_KR_KEY=
KMA_API_HUB_KEY=
KAKAO_REST_KEY=
HRFCO_KEY=
COLLECTION_LATITUDE=37.8034055083
COLLECTION_LONGITUDE=128.9102102476
COLLECTION_RADIUS_M=20000
AWS_STATIONS=516
